header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

#loginInfo {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 15px;
    font-size: 18px;
    margin: 10px;
}


button {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px;
    }

iframe {
    color: black;
    background-color:lightblue;
    height: 300px;
    width: 1000px;

}

#commentContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section h1 {
    margin-left: 15px;
}

#signsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#signsContainer div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 0.1px solid #ccc;
    width: 500px;
}


#nzsl{
    margin: 10px;
}

#nzsl div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 0.1px solid #ccc;
    
}

img {
    margin-left: 20px;
}

strong {
    margin-left: 10px;
}

#events {
    padding-left: 10px;
}

.eventDiv {
    border: 0.5px solid #ccc;
    padding-left: 15px;
}

#registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#registerDiv {
    max-width: 70%;
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginDiv {
    max-width: 70%;
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

